.mainContainer{
    background-color: #a6a6a6;
    height: 100%;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.searchContainer__sources{
    width: 40%;
}
.searchContainer__categories{
    width: 40%;
}

.logo {
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 450px;
    height: 100px;
    padding-top: 125px;
   
}

.filterHeader{
    color: #133460;
    font-weight: bolder;
    font-size: larger;
    margin-top: 2em;
}


