.form-control{
    background-color: #a6a6a6
}

.category__categoriesList{
    font-weight: bolder;
    margin-bottom: 1em;
    font-size: large;
}

.formInputLabel{
    margin-top: 1.5em;
}

.editFormCategories{
    font-weight: bold;
    font-size: large;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
}

.editFormCategory{
    margin-top: 2em;
}

.existingTakeawayCategoriesContainer{
    display: flex;
    flex-flow: column nowrap;
}

.formModal{
    background-color: #a6a6a6 !important;
}
.formGroup{
    background-color: #a6a6a6;
}