.takeaways{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listHeader{
    text-align: center;
}



.buttonContainer{
    width: 10%;
    display: flex;
    margin: auto;
    justify-content: center;
}
.button{
    margin: 2em;
        background-color: #133460;
        border: none;
        color: #e0d9d9;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5%;
        
}

.listHeader{
    color: #133460;
    margin-top: 2em;
}
