.takeaways{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listHeader{
    text-align: center;
}



.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.button{
    margin: 2em;
        background-color: #133460;
        border: none;
        color: #e0d9d9;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5%;
        
}

.listHeader{
    color: #133460;
    margin-top: 2em;
}
.editSourcesCategoriesContainer{
display: flex;
flex-direction: column;
    justify-content: left;
    width: 19%;
    
}

.addNewButtonContainer{
 margin-left: 30em;
}

.addNewButton{
    margin-top: 5em;
}

.notFollowingMessage{
    margin-top: 3em;
    color: #133460;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

.followingTakeaways{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

